.PieAndLegend {
  display: flex;
  padding-left: 90px;
  .pie-legend {
    span {
      width: 100%;
      display: inline-block;
      margin: 2px;
      font-size: 1.2em;
      padding: 5px;
    }
  }
}
.PieAndLegend .pie-legend {
  min-width: 250px;
  padding-left: 250px;
}
