{
    "parser": "babel-eslint",
    "plugins": ["jsx-a11y"],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:import/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:prettier/recommended",
      "prettier/react",
      "prettier/standard"
    ],
    "env": {
      "es6": true,
      "node": true,
      "browser": true,
      "jest": true
    },
    "rules": {
      "import/no-named-as-default": 0,
      "no-console": 0,
      "no-unused-vars": 1,
      "react/no-unused-prop-types": 1,
      "react/require-default-props": 1,
      "react/default-props-match-prop-types": 1,
      "react/jsx-no-duplicate-props": 1,
      "react/no-array-index-key": 1,
      "react/display-name": 0,
      "jsx-a11y/label-has-for": 0,
      "jsx-a11y/label-has-associated-control": 1
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }
  