.ChatBubble {
  display: flex;

  &__icon {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: block;
    flex: 3;
    margin: $margin-sm;
    width: auto;
    max-width: 300px;
  }

  &__bubble {
    display: block;
    position: relative;
    padding: $padding-md;
    padding-top: $padding-sm;
    background-color: lightgrey; // use variable
    border-radius: 10px;

    &__date {
      font-weight: bold;
      font-size: 12px;
      display: inline-block;
      margin-right: 2px;
    }

    &__name {
      display: inline-block;
      color: $color-blue;
      font-weight: bold;
      font-size: 12px;
    }

    &__text {
      display: block;
      word-wrap: break-word;
    }

    &__attachment {
      img {
        max-width: 300px;
        border-radius: 3px;
      }
    }
  }

  &__status {
    display: block;
    margin-top: 4px;
    padding-right: 12px;
    text-align: right;
    color: $color-blue;
    font-weight: normal;
    font-size: .8rem;

    &--failed {
      color: $color-error;
    }
  }
}

.ChatBubble--left {
  flex-direction: row;

  .ChatBubble__bubble {
    background-color: #e5eaee;

    &::before {
      position: absolute;
      left: -12px;
      bottom: 7px;
      width: 12px;
      height: 16px;
      content: url(../../../images/icons/icon-message-current-user-bubble.png);
    }
  }
}

.ChatBubble--right {
  flex-direction: row-reverse;

  .ChatBubble__bubble {
    background-color: #f0f3f5;

    &::after {
      position: absolute;
      right: -12px;
      bottom: 7px;
      width: 12px;
      height: 16px;
      content: url(../../../images/icons/icon-message-other-users-bubble.png);
    }
  }
}
