.text-area-item {
  width: 100%;
  height: 50px;
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #20315f;
  background: #eaedee;
  margin-top: 15px;

  & > p {
    height: 10px;
    padding-left: 7px;
    font-size: 14px;
    color: #b9b3b3;
  }

  & > textarea {
    width: calc(100% - 10px);
    height: calc(100% - 30px);
    border: 0;
    margin-top: 16px;
    background: transparent;
    padding: 7px 0 0 7px;

    &:focus {
      border: 0;
      outline: none;
    }
  }
}
