.edit-check-view__updates {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100%); //use  variable
  padding: $padding-sm;
  box-sizing: border-box;

  &__messages {
    flex: 1;
    overflow-y: scroll;
    position: relative;

    &__container {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      overflow: auto;
    }

    &__reminder {
      position: absolute;
      bottom: 16px;
      color: white;
      background-color: #3a4bc1;
      box-shadow: 0 2px 9px 0 grey;
      border-radius: 20px;
      font-size: 12px;
      padding: 4px 8px;
      opacity: 0;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);

      &--visible {
        opacity: 1;
      }
    }

    &__date-container {
      color: lighten(#444444, 50%);
      width: 100%;
      position: relative;
      text-align: center;
      display: block;

      hr {
        display: block;
        border: 0;
        margin: 0;
        position: relative;
        top: 12px;

        border-bottom: 1px solid lighten(#444444, 50%);
        z-index: 0;
      }
    }

    &__date {
      display: inline-block;
      padding: 2px 8px;
      background-color: white;
      z-index: 1;
      position: relative;
    }
  }

  &__inputMessage {
    display: flex;
    flex-direction: column;
    background-color: #f0f3f5; //use variable
    padding: $padding-md;
    box-sizing: border-box;

    &__header {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    &__input {
      flex: 2;
      display: flex;
      margin-top: 8px;

      &-textarea {
        resize: none;
        width: 100%;
        height: 110px;
        border: 2px solid $color-grey;
        border-radius: $base-border-radius;
        margin-left: $margin-md;
        padding: $padding-sm;
        margin-bottom: $margin-sm;
        box-sizing: border-box;

        &:active:not([disabled]),
        &:focus:not([disabled]) {
          border: 2px solid $color-blue;
        }

        &[disabled] {
          cursor: not-allowed;
        }
      }
    }

    &__submit {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
