.Loading {
  width: 52px;
  height: 12px;
  display: inline-block;
  margin: auto;
  circle {
    fill: #3a4bc1;
  }

  &--centered {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0%);
  }
}
