.CapacityView {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin: 0px 8px;
  flex: 1;

  &__Value {
    font-weight: bold;
    font-size: 58px;
    line-height: 54px;
    position: relative;
    top: 1px;
    border-bottom: 2px solid transparent;
    display: inline-block;
  }

  &__Venue-Total {
    font-weight: bold;
    font-size: 62px;
    line-height: 54px;
  }
  &__RingContainer {
    position: relative;
  }

  &__RingText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 99px;
    font-weight: bold;
    color: white;
    font-size: 24px;
  }

  &__Venue {
    margin-right: auto;
    min-width: 35%;
    padding: 13px 0px;
  }
  &__Venue-Title {
    font-size: 14px;
  }
  &__Counter {
    height: 60px;
    padding: 20px 0px;
    width: 100%;
    max-width: 160px;

    span:first-child,
    hr + span {
      font-size: 14px;
      line-height: 20px;
    }

    span + span {
      float: right;
      font-weight: bold;
    }
  }

  // Ticket Scanning Variants
  &--ticket-scanning {
    color: #3a4bc1;
    margin-top: 24px;
    justify-content: left;
    margin-left: 0;
  }

  &--ticket-scanning .CapacityView__Venue {
    display: none;
  }

  &--ticket-scanning .CapacityView__RingText {
    color: inherit;
    height: 130px;
    width: 130px;
    line-height: 129px;
    font-size: 36px;
  }

  &--ticket-scanning .CapacityView__Counter {
    max-width: 230px;
    padding: 30px 0px;
    margin-left: 15px;

    & div span:first-of-type {
      font-size: 18px;
      margin-top: -4px;
    }

    & div span:last-of-type {
      font-size: 24px;
      margin-top: -4px;
    }
  }
}
