.Checkbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & * {
    cursor: pointer;
  }

  label {
    margin-right: 15px;
    margin-bottom: 3px;
  }

  input[type='checkbox'] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.8); /* IE */
    -moz-transform: scale(1.8); /* FF */
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -o-transform: scale(1.8); /* Opera */
    transform: scale(1.8);
    padding: 10px;
  }
}
