.pill {
  border-radius: 100px;
  color: white;
  padding: 1px 8px;
  margin: 7px 0px;
  display: inline-block;

  &--suspended,
  &--closed {
    background-color: #ff4000;
  }

  &--live {
    background-color: #2ad587;
  }

  & + & {
    margin-left: 5px;
  }
}
